temp
*/linker.map
4code/output/
4test/output/
bootloader/output/
circuit/*.b#?
circuit/*.s#?
build/
script/tmp_graph/
script/xml/

*.pyc

.gitignore~
*.py~
*.txt~
*.includes~

*.bak
*.kicad_pcb-bak

build-frontend-Desktop_Qt_5_8_0_MinGW_32bit-Debug
build-frontend-Desktop_Qt_5_8_0_MinGW_32bit-Release
frontend/frontend.pro.user
4code/BalmerVNA.creator.user
bootloader/BootLoader.creator.user
circuit/it/
circuit_kicad/balmer.bck
circuit_kicad/ad9958_generator/out
circuit_kicad/analog_and_ad9958/out
circuit_kicad/digital_and_adc/out
circuit_kicad/digital_and_adc/digital_and_adc.net

script/cal/
script/quarz2/
script/tmp/

script/font_converter/build-font_converter-Desktop_Qt_5_5_0_GCC_64bit-Debug/
script/font_converter/font_converter/font_converter.pro.user